language: java
sudo: false

dist: xenial

services:
  - docker
  - xvfb

before_script:
  - sleep 3

script:
  - docker-compose up -d
  - sleep 3
  - ./mvnw clean test -Dcucumber.options="--tags @RegressionTest --plugin com.aventstack.extentreports.cucumber.adapter.ExtentCucumberAdapter:output --glue stepdefs" -Dbrowser=chrome -Dexemode=remote